.wrapper{
    margin: 15px;
}
h4{
    display: inline;
    margin-left: 10px;
}

.next{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 15px;
    padding-left: 10px;
}
