.App {
    box-sizing: border-box;
    max-width: 1800px;
    height: 100vh;
    padding: 24px;
    margin: 0 auto;
    font-size: 24px;
}

.table {
    display: grid;
    height: 90vh;
    grid-template-columns: 500px 1fr;
    border: 1px solid rgba(38, 40, 66, 0.12);
    border-radius: 10px 0 0 10px;
}

.header {
    box-sizing: border-box;
    height: 52px;
    background: #F7F8FC;
    border: 1px solid rgba(38, 40, 66, 0.12);
    border-radius: 10px 0 0 0;
}

.header p {
    margin: 10px 0 0 15px;
}

.items {
    position: relative;
}

.cells_wrapper {
    margin-top: 39px;
}

.cell_item {
    height: 39px;
    border: 1px solid rgba(38, 40, 66, 0.12);
}

.chart {
    position: relative;
    overflow: hidden;
    box-shadow: -14px -1px 10px -4px rgba(0, 0, 0, 0.1) inset;
}

.chart_period_wrapper {
    display: flex;
    background: #F7F8FC;
    box-shadow: -14px -1px 10px -4px rgba(0, 0, 0, 0.1) inset;
}

.chart_period {
    font-size: 18px;
    height: 24px;
    text-align: center;
    border: 1px solid rgba(38, 40, 66, 0.12);
}

.chart_dates {
    display: flex;
    text-align: center;
    font-size: 18px;

}

.chart_dates p {
    width: 21px;
    margin: 0;
    border: 1px solid rgba(38, 40, 66, 0.12);
}

.chart_col_wrapper {
    display: flex;
}

.chart_col {
    height: 100vh;
    width: 21px;
    flex-shrink: 0;
    border: 1px solid rgba(38, 40, 66, 0.12);
}

.bars_wrapper{
    position: absolute;
    top: 73px
}